html { font-size: 16px;}
body {
    margin:0;
    padding:0;
}
.error-message { color:red;}
.fizzbuzz { 
    color: green;
    font-weight: 700;
}
.fizz { color: blue;}
.buzz { color: yellow;}
.result-list {
    max-height: 420px;
    width: 50%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 0.5em;
    list-style:none;
}